{{ if .Values.PROMRW_USER -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: log-exporter-promrw-credentials
  labels:
    app.kubernetes.io/part-of: '{{ .Values.LME_APPLICATION_NAME }}'
    app.kubernetes.io/managed-by: saasDeployer
data:
  PROMRW_USER: {{ .Values.PROMRW_USER | b64enc }}
  PROMRW_PASSWORD: {{ .Values.PROMRW_PASSWORD | b64enc }}
{{ end -}}