{{ if .Values.VICTORIA_USER -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "log-exporter.fullname" . }}-victoria-credentials
  labels:
    {{- include "log-exporter.commonLabels" . | nindent 4 }}
data:
  VICTORIA_USER: {{ .Values.VICTORIA_USER | b64enc }}
  VICTORIA_PASSWORD: {{ .Values.VICTORIA_PASSWORD | b64enc }}
{{ end -}}
