{{ if .Values.GRAYLOG_USER | default .Values.CSE_GRAYLOG_USER -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "log-exporter.fullname" . }}-graylog-credentials
  labels:
    {{- include "log-exporter.commonLabels" . | nindent 4 }}
data:
  GRAYLOG_USER: {{ .Values.GRAYLOG_USER | default .Values.CSE_GRAYLOG_USER | b64enc }}
  GRAYLOG_PASSWORD: {{ .Values.GRAYLOG_PASSWORD | default .Values.CSE_GRAYLOG_PASSWORD | b64enc }}
{{ end -}}
