{{ if eq "newrelic" (lower .Values.LME_DATASOURCE_TYPE) -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "log-exporter.fullname" . }}-newrelic-credentials
  labels:
    {{- include "log-exporter.commonLabels" . | nindent 4 }}
data:
  NEWRELIC_ACCOUNT_ID: {{ .Values.LME_NEWRELIC_ACCOUNT_ID | int64 | print | b64enc }}
  NEWRELIC_X_QUERY_KEY: {{ .Values.LME_NEWRELIC_X_QUERY_KEY | print | b64enc }}
{{ end -}}
