{{ if .Values.LAST_TIMESTAMP_USER | default .Values.CSE_EXTERNAL_MONITORING_USER -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "log-exporter.fullname" . }}-last-timestamp-credentials
  labels:
    {{- include "log-exporter.commonLabels" . | nindent 4 }}
data:
  LAST_TIMESTAMP_USER: {{ .Values.LAST_TIMESTAMP_USER | default .Values.CSE_EXTERNAL_MONITORING_USER | b64enc }}
  LAST_TIMESTAMP_PASSWORD: {{ .Values.LAST_TIMESTAMP_PASSWORD | default .Values.CSE_EXTERNAL_MONITORING_PASSWORD | b64enc }}
{{ end -}}
