{{- if eq .Values.LME_MODE "pull" }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: {{ .Values.NAMESPACE }}
  labels:
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/managed-by: monitoring-operator
    app.kubernetes.io/name: {{ include "log-exporter.fullname" . }}-monitor
    app.kubernetes.io/part-of: {{ default (include "log-exporter.fullname" .) .Values.PART_OF | quote }}
    k8s-app: {{ include "log-exporter.fullname" . }}-monitor
  name: {{ include "log-exporter.fullname" . }}-monitor
spec:
  endpoints:
  - port: "http"
    scheme: http
    path: "/metrics"
    interval: 1m
    scrapeTimeout: 10s
  jobLabel: k8s-app
  selector:
    matchLabels:
      app: {{ include "log-exporter.fullname" . | quote }}
  namespaceSelector:
    matchNames:
      - {{ .Values.NAMESPACE }}
{{ end -}}
