apiVersion: v1
kind: Service
metadata:
  name: {{ include "log-exporter.fullname" . }}
  namespace: {{ .Values.NAMESPACE }}
  labels:
    app: {{ include "log-exporter.fullname" . | quote }}
    {{- include "log-exporter.commonLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "log-exporter.fullname" . | quote }}
