name: Go unit tests
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
permissions:
  contents: read
jobs:
  test:
    uses: netcracker/qubership-core-infra/.github/workflows/go-build-with-sonar.yaml@b048feff5eac475631ab893eb58f7ef3f3f6ad49 #v1.3.0
    with:
      actor: ${{ github.actor }}
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY }}
      go-module-dir: '.'
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
